@import url("../index.css");

.layout {
  background-color: var(--color5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: var(--color06);
  position: fixed;
  top: 0;
  width: 100%;
  height: 5.5rem;
  display: flex;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 10px #999;
}

.btn {
  margin: 2px;
  outline: none;
  border: 1px solid var(--color09);
  border-radius: 5px;
  background-color: var(--color05);
  color: var(--color09);
  padding: 5px 10px;
  font-family: B Roya;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
  width: 110px;
}

.main {
  width: 80%;
  margin-top: 7rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add {
  outline: none;
  border: 1px solid var(--color09);
  border-radius: 5px;
  background-color: var(--color05);
  color: var(--color09);
  padding: 2px 5px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  width: 70px;
}
.productsContainer {
  background-color: var(--color02);
  color: var(--color04);
  font-size: 18px;
  width: 50rem;
  border-radius: 10px;
  border: 1px solid var(--color10);
}

.productForm {
  display: flex;
  padding: 10px 15px;
}


.productGroupList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.group {
  width: 8rem;
}
.footer {
  background-color: var(--color06);
  position: fixed;
  bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 10px #999;
}
