.GroupsContainer {
  /* margin-right: 110px;     */
  background-color: #eee;
  color: var(--color04);
  font-size: 18px;
  width: 420px;
  border-radius: 10px;
  border: 1px solid var(--color09);
  display: flex;
  padding: 5px;
  justify-content: center;
  margin-right: 20px;
  margin-bottom: 10px;
}
.groupLabel {
  height: 60px;
}

.GroupsContainer h5 {
  padding-right: 20px;
  padding-top: 5px;
}

.groupformInput {
  margin-left: 5px;
  margin-bottom: 5px;
  outline: none;
  border: 1px solid var(--color10);
  border-radius: 5px;
  width: 10rem;
  padding: 2px 5px;
}
.formGroupButton {
  padding: 2px 10px;
  font-weight: bold;
  outline: none;
  background-color: var(--color12);
  border: none;
  color: var(--color07);
  border-radius: 5px;
  cursor: pointer;
}
