.GroupsContainer {
  /* margin-right: 110px;     */
  background-color: #eee;
  color: var(--color04);
  font-size: 12px;
  width: 220px;
  border-radius: 10px;
  border: 1px solid var(--color09);
  display: flex;
  /* padding: 5px; */
  justify-content: center;
  margin-right: 5px;
  margin-bottom: 10px;
}
.groupLabel {
  height: 30px;
}

.GroupsContainer h5 {
  padding-right: 5px;
  padding-top: 5px;
}

.groupformInput {
  margin-left: 1px;
  margin-bottom: 5px;
  outline: none;
  border: 1px solid var(--color10);
  border-radius: 5px;
  width: 7rem;
  padding: 2px 5px;
}
.formGroupButton {
  padding: 2px 2px;
  margin-right: 5px;
  font-weight: bold;
  outline: none;
  background-color: var(--color12);
  border: none;
  color: var(--color07);
  border-radius: 5px;
  cursor: pointer;
}
